<html>
<head>
    <style>
        div{
            padding-top: 20px;
        }
        i{
            color: red;
        }
        .h1{
            color: green;
        }
        #id1{
            padding-top: 130px;
            font-size: x-large;
            font-style: italic;

        }
    </style>
</head>
<body bgcolor="#00ffff">
<div align="'center">
    <h1 calss="h1">welcome to <i>django</i>world</h1>
    <h2><a href="./reg">click here to register</a></h2>
    <h2><a href="./login">click here to login</a></h2>
</div>
<pre id="id1" style="float:right;">
    <b>By</b>
    Priya,
    +91-6300285868
    priyamerugu96@gmail.com
    Durga Soft,
    Maithrivanam,
    Hyderabad.
</pre>

</body>
</html>